:root {
  --brandColor: #004696;
  --altBrandColor: #f9680c;
  --mainBlue: #004696;
  --mainWhite: #ffffff;
  --mainGray: #ece8dc;
  --mainBlack: #000000;
}

.fullHeight {
  min-height: 100vh;
}

.brandColor {
  color: var(--brandColor);
}

.mainWhiteText {
  color: var(--mainWhite);
  font-weight: 300;
}

.orangeBackground {
  background: var(--altBrandColor);
}

.menuName {
  color: var(--mainBlack);
  font-weight: 900;
}

.menuPrice {
  color: var(--altBrandColor);
  font-weight: 900;
}

.menuDescription {
  color: var(--mainBlack);
  font-weight: 600;
}

.menuButton {
  border: none;
  padding: 15px 10px;
  width: 100%;
  background: var(--altBrandColor);
  color: white;
  text-transform: uppercase;
  transform: all 0.5s ease-in-out;
}

.menuButton:hover {
  cursor: pointer;
  background: var(--mainBlue);
}

.backgroundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.titleHeader {
  background: var(--brandColor);
  padding: 20px 10px;
  color: white;
}

.menuLink {
  color: var(--brandColor);
  text-decoration: none;
}

.menuLink:hover {
  color: var(--brandColor);
  text-decoration: none;
}

.featuresContainer {
  width: 100%;
  background: var(--brandColor);
  color: #fff;
  margin-top: 5%;
  padding: 4em 0 2em;
  border-top-left-radius: 40px;
  transform: skewY(-2deg);
}

.featureItemContainer {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  transform: skewY(2deg);
}

.aboutContainer {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutHeader {
  color: var(--mainWhite);
  background: var(--altBrandColor);
  padding: 15px 10px;
}

.aboutWrapper {
  width: 100%;
  background: var(--altBrandColor);
  color: #fff;
  margin-top: 2%;
  padding: 4em 0 2em;
  transform: skewY(-2deg);
}

.mainWhite {
  color: var(--mainWhite);
  transform: skewY(2deg);
}
