:root {
  --brandColor: #333842;
  --altBrandColor: #f8ef2d;
  --mainGray: #ece8dc;
  --mainBlack: #000000;
}

.brandColor {
  color: var(--brandColor);
}

.backgroundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.titleHeader {
  background: var(--brandColor);
  padding: 20px 10px;
  color: white;
}

.menuLink {
  color: var(--brandColor);
  text-decoration: none;
}

.menuLink:hover {
  color: var(--brandColor);
  text-decoration: none;
}
